article {
  width: 100%;
  max-width: 80ch;

  color: black;

  font-family: var(--font-mono);
}

article header .title {
  font-size: 2rem;
  text-align: center;
}

article header .author {
  font-style: italic;
}

article header .date {

}

article header hr {
  height: 2px;
  margin: 2rem 0 0.5rem 0;

  border: none;
  background-color: black;
}

article a {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

article h1 {
  font-size: 1.5rem;
  font-weight: 700;

  margin-top: 1.5rem;
}

article h2 {
  font-size: 1.25rem;
  font-weight: bold;

  margin-top: 1rem;
}

article p {
  padding-top: 1rem;
}

article ol {
  list-style-type: decimal;
  margin-left: 4ch;
  padding: 0.5rem 0;
}

article ol li::marker {
  color: var(--color-neutral-400);
  font-weight: bold;
}

article ul {
  list-style-type: square;
  padding: 0.5rem 0;
  margin-left: 3ch;
}

article ul li::marker {
  color: var(--color-neutral-400);
}

article code {
  background-color: var(--color-neutral-300);
  padding: 0 1ch;
}

@media (prefers-color-scheme: dark) {
  article {
    color: white;
  }

  article header hr {
    background-color: white;
  }

  article code {
    background-color: var(--color-neutral-700);
  }

}
